extends ../layout/index

block contenido
     .py-10
        h1.text-4xl.text-center.text-orange-400 Resetear Contraseña

        .mt-8.mx-auto.max-w-xl
            .bg-white.py-8.px-4.shadow-2xl.rounded-2xl
                form
                    input(type="password" placeholder="Nueva contraseña")
                    input(type="submit" value="Actualizar")