doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title BienesRaices - 240516 | #{pagina}
    link(rel="stylesheet" href="/css/styles.css")
  body(class="min-h-screen bg-gray-100")
    main(class="container mx-auto mt-10")
      block contenido